@model List<Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Hizmetlerim</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Hizmet Başlık</th>
		<th>Açıklama</th>
		<th>Url</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.ServiceId</td>
			<td>@item.Title</td>
			<td>@item.Description</td>
			<td>@item.Icon</td>
			<td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
			<td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Güncelle</a></td>
		</tr>
	}
</table>
<a href="/Service/CreateService/" class="btn btn-primary">Yeni Hizmet Ekle</a>
