@model List<Education>
<section id="resume" class="resume section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Eğitimlerim & Deneyimlerim</h2>

	</div><!-- End Section Title -->

	<div class="container">

		<div class="row">

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<h3 class="resume-title">Eğitim</h3>

				@foreach (var item in Model)
				{
					<div class="resume-item">
						<h4>@item.SubTitle</h4>
						<h5>@item.DateInfo</h5>
						<p><em>@item.Title</em></p>
						<p>@item.Description</p>
					</div>
					<!-- Edn Resume Item -->
				}


			</div>

			@await Component.InvokeAsync("_DefaultExperienceComponentPartial")

		</div>

	</div>

</section><!-- /Resume Section -->