@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_DefaultSidebarComponentPartial")

    <main class="main">
        <!-- Hero Section -->
        @await Component.InvokeAsync("_DefaultFeatureComponentPartial")

        <!-- About Section -->
        @await Component.InvokeAsync("_DefaultAboutComponentPartial")
        <!-- /About Section -->

        <!-- Stats Section -->
        @await Component.InvokeAsync("_DefaultStatsComponentPartial")
        <!-- /Stats Section -->

        <!-- Skills Section -->
        @await Component.InvokeAsync("_DefaultSkillComponentPartial")
        <!-- /Skills Section -->

        <!-- Resume Section -->
        @await Component.InvokeAsync("_DefaultEducationComponentPartial")
        <!-- /Resume Section -->

        <!-- Portfolio Section -->
        @await Component.InvokeAsync("_DefaultPortfolioComponentPartial")
        <!-- /Portfolio Section -->

        <!-- Services Section -->
        @await Component.InvokeAsync("_DefaultServiceComponentPartial")
        <!-- /Services Section -->

        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

        <!-- Contact Section -->
        @await Component.InvokeAsync("_DefaultContactComponentPartial")
        <!-- /Contact Section -->

    </main>

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    <!-- Scroll Top -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>
