@model Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yetenek Güncelleme Sayfası</h1>

<form method="post">
    <label>Yetenek Başlığı</label>
    <input type="text" asp-for="SkillName" class="form-control" />
    <br />
    <label>Yetenek Değeri</label>
    <input type="number" asp-for="SkillValue" class="form-control" />
    <br />
    <button class="btn btn-info">Yetenek Güncelleme</button>
</form>

