@model List<SocialMedia>

@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Listem</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sosyal Medya İsmi</th>
        <th>Sosyal Medya Url</th>
        <th>Sosyal Medya Resmi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.SocialMediaName</td>
            <td>@item.SocialMediaUrl</td>
            <td>@item.SocialMediaIcon</td>
            <td>
                <a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-warning">Güncelle</a>
            </td>
        </tr>
    }
</table>
<a href="/SocialMedia/CreateSocialMedia/" class="btn btn-primary">Yeni Sosyal Medya Ekle</a>

